---
import { Image } from '@astrojs/image/components';
import FooterSocialLink from './FooterSocialLink.astro';
import {
	faTwitter,
	faYoutube,
	faRedditAlien,
	faInstagram,
} from '@fortawesome/free-brands-svg-icons';
import DiscordInvite from './DiscordInvite.astro';
---

<footer class="bg-zinc-300/60 dark:bg-zinc-800/60">
	<div
		class:list={[
			'border-t',
			'max-w-screen-lg',
			'mx-auto',
			'flex',
			'flex-row',
			'flex-wrap',
			'justify-around',
			'items-stretch',
			'py-8',
			'px-4',
			'gap-x-4',
			'gap-y-8',
			'dark:bg-zinc-700/70',
			'bg-zinc-300',
			'backdrop-blur',
		]}
	>
		<div class="min-w-fit shrink-0 flex flex-1 flex-col items-center justify-center gap-4">
			<Image src="/logo.webp" format="webp" alt="GPAD Logo" width={96} height={96} />
			<span title="Yes, Payd. Ask Shawn about this I'm just the website, I didn't choose the name. "
				>Gettin' Payd since 2019</span
			>
			<DiscordInvite>Join GPAD</DiscordInvite>
			<span class="text-xs text-gray-600 mt-4">
				{`${import.meta.env.APP_VERSION}-${import.meta.env.APP_ENV}`}
			</span>
		</div>

		<div class="min-w-fit flex-1 h-full shrink-0 flex flex-col justify-evenly items-center gap-4">
			<FooterSocialLink icon={faRedditAlien} href="https://reddit.com/r/gpad">
				Reddit
			</FooterSocialLink>
			<FooterSocialLink icon={faYoutube} href="https://www.youtube.com/@gpad3670">
				YouTube
			</FooterSocialLink>
			<FooterSocialLink icon={faTwitter} href="https://twitter.com/GPADCrew">
				Twitter
			</FooterSocialLink>
			<FooterSocialLink icon={faInstagram} href="https://instagr.am/GPADCrew">
				Instagram
			</FooterSocialLink>
		</div>
	</div>
</footer>
